$primary-color: #f6cb4c;
$secondary-color: #dddddd;

$background-color: white;
$content-color: #919eab;
$disabled-color: #dddddd;
$text-color: #222222;
$gray-text-color: #707070;
$select-color: rgba(39, 49, 66, 0.2);

$large-size: 2.75em;
$normal-size: 2.15em;

$small-large-size: 1.8em;
$small-normal-size: 1.5em;
$small-up-size: 1.2em;
$small-size: 1.1em;
