@font-face {
	font-family: "Noto Sans KR";
	src: url("/assets/fonts/NotoSansKR-Thin.otf") format("opentype");
	font-weight: 100;
	font-display: swap;
}
@font-face {
	font-family: "Noto Sans KR";
	src: url("/assets/fonts/NotoSansKR-Light.otf") format("opentype");
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Noto Sans KR";
	src: url("/assets/fonts/NotoSansKR-Regular.otf") format("opentype");
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Noto Sans KR";
	src: url("/assets/fonts/NotoSansKR-Medium.otf") format("opentype");
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Noto Sans KR";
	src: url("/assets/fonts/NotoSansKR-Bold.otf") format("opentype");
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Noto Sans KR";
	src: url("/assets/fonts/NotoSansKR-Black.otf") format("opentype");
	font-weight: 900;
	font-display: swap;
}
